_minted*/
ltximg/
texfrag/
auto/

_region_.*
/FILE
.#ProofTheory.org

.orgids

# mac files
.DS_Store
*.DS_Store

# latex temporary files
.auctex-auto/
*.auctex-auto
*.log
*.toc
*.ilg
*.idx
*.aux
*.ind
*.out
*.gz
org-tex-*.tex
*.bbl
*.blg
*.thm
