[submodule "latex-pretty-symbols"]
	path = latex-pretty-symbols
	url = https://github.com/wugouzi/latex-pretty-symbols
[submodule "texfrag"]
	path = texfrag
	url = https://github.com/wugouzi/texfrag
[submodule "lsp-bridge"]
	path = lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge
